/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: rockwell, tahoma;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}


/* Navigation bar */

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #214;
    color: #fff;
    flex-wrap: wrap;
    gap: 1rem;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: aqua
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    color: #eef;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.nav-links a:hover {
    color: aqua;
}

.nav-links a.active {
    color: aqua;
    border-bottom-color: aqua;
}

/* Search bar */

.search-bar {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

#search-bar {
    min-width: 220px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #cde;
}

/* Buttons */

.btn {
    padding: 0.5rem 1rem;
    border-radius: 7px;
    font-weight: bold;
    color: #214;
    background-color: cyan;
    cursor: pointer;
}

.btn.secondary {
    background-color: transparent;
    color: cyan;
    border: 1px solid cyan;
}

.btn:hover {
    opacity: 0.75;
}

/* Main content */


main {
    margin: 0 auto;
    padding: 2rem;
}

.hero {
    margin-top: 70px;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    
    text-shadow: 5px 5px black;
}

.hero p {
    max-width: 700px;
    margin: 2rem auto;
}

/* Footer */


footer {
    text-align: center;
    padding: 1.5rem;
}